
.feedback {
  padding: 0 20px 88px 20px;
  overflow: hidden;
}

.title {
  max-width: 448px;
  text-align: center;
  margin: 0 auto 20px auto;
}

.text {
  max-width: 555px;
  line-height: 1.875rem;
  text-align: center;
  margin: 0 auto 60px auto;
}