@use "styles/mixin";
@import "styles/variables";

.feedback {
  flex: 0 0 400px;
  padding: 30px;
  border: 2px solid $color-light-gray-1;
  border-radius: 10px;

  @media (max-width: $phones) {
    flex: 0 0 340px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.customer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.customerInfo {

}

.name {
  @include mixin.fontConfig(1.125rem, 500, 1.875rem);
  color: $color-black-light;
}

.location {
  @include mixin.fontConfig(0.875rem, 400, 1rem);
}

.mark {
  color: $color-black-light;
  i {
    margin-left: 11px;
    color: $color-yellow;
  }
}

.text {
  line-height: 1.875rem;
  color: $color-black-light;
  margin-top: 20px;
}