@use './styles/mixin';
@import "./styles/variables";

.logoBox {
  display: flex;
  align-items: center;
  gap: 10px;
  @include mixin.fontConfig(1.25rem, 700, 1.48rem);
  color: $color-black-light;
}