@import "styles/variables";

.global {
  padding: 0px 20px 124px 20px;
  text-align: center;

  @media (max-width: $tablets) {
    padding: 0px 20px 80px 20px;
  }
}

.title {
  max-width: 383px;
  text-align: center;
  margin: -60px auto 20px auto;
}

.text {
  max-width: 555px;
  text-align: center;
  margin: 0 auto 156px auto;
  @media (max-width: $landscape-tablets) {
    margin: 0 auto 90px auto;
  }
  @media (max-width: $tablets) {
    margin: 0 auto 50px auto;
  }
}

.img {
  width: 100%;
  padding-top: 51%;
  margin-bottom: 110px;

  @media (max-width: $landscape-tablets) {
    margin-bottom: 70px;
  }
}

.companiesBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  @media (max-width: 1000px) {
    width: 100%;
    overflow: auto;
    gap: 20px;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}

.companyLogo {
  @media (max-width: $small-tablets) {
    width: 130px;
  }
}
